@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Begin dedication */
[epub|type~="dedication"] header{
	margin-top: 4em;
}

#dedication header p{
	font-variant: small-caps;
	line-height: 1.5;
	margin-bottom: 1em;
}

#dedication b{
	font-size: larger;
}

#dedication > p:first-of-type{
	font-variant: small-caps;
}

[epub|type~="dedication"] p + p{
	text-indent: 0;
}
/* end dedication */

footer{
	margin-top: 1em;
	text-align: right;
}

/* chapter-2 */
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

.telegram{
	font-variant: all-small-caps;
}
