@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Begin dedication */
[epub|type~="dedication"] header{
	margin-top: 4em;
}

#dedication header p{
	font-variant: small-caps;
	line-height: 1.5;
	margin-bottom: 1em;
}

#dedication header p span{
	font-size: larger;
}

#dedication p:first-of-type{
	font-variant: small-caps;
}
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="dedication"] p + p,
blockquote p{
	text-indent: 0;
}

#dedication footer{
	margin-top: 1em;
	text-align: right;
}
/* end dedication */

/* Prologue */
[epub|type~="contributors"]{
	font-style: italic;
}

/* chapter-2 */
.telegram{
	font-variant: all-small-caps;
}
